@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');

:root {
  --blue: #00204a;
  --cyan: #00BBf0;
  --purple: #0B0252;
  --light-blue: #00285a;
  --bg-white: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  background-color: var(--cyan);
  color: #fff;
  padding: 12px 40px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #0091b9;
}

.text-primary {
  color: var(--cyan);
}

/* Header Start */
#home {
  background: url("./img/home-bg.png") no-repeat center center/cover var(--purple);
}

#home .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
}

#home .navbar .logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

#home .navbar ul {
  display: flex;
}

#home .navbar ul li a {
  margin: 0 15px;
  color: #fff;
  font-size: 18px;
}

#home .navbar ul li a.active {
  color: var(--cyan);
}

#home .home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 7rem;
  color: #fff;
  min-height: calc(100vh - 120px);
}

#home .home-content .col h1 {
  font-size: 50px;
}

#home .home-content .col p {
  font-size: 14px;
  margin: 1rem 0 3rem;
}

#home .home-content img {
  max-width: 100%;
  animation: upDown 5s infinite ease-out;
}

@keyframes upDown {
  0% {
    transform: translateY(-70px);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(-70px);
  }
}

/* Header End */

/* Services Start */
#services,
#why-us {
  padding: 6rem 0;
  text-align: center;
}

#services h2,
#why-us h2,
#testimonials h2 {
  font-size: 32px;
  color: var(--blue);
  text-align: center;
}

#services .row,
#why-us .row,
#team .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin: 3rem 0;
}

#services .row .col {
  background-color: var(--bg-white);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#services .row .col:hover {
  transform: scale(1.04);
}

#services .row .col h3,
#why-us .row .col h3 {
  font-size: 20px;
  margin: 20px 0;
  color: var(--blue);
}

#services .row .col p,
#why-us .row .col p {
  font-size: 14px;
}

#services .row .col img,
#why-us .row .col img {
  width: 60px;
}

/* Services End */
/* About Start */
#about,
#team {
  background-color: var(--blue);
  padding: 6rem 0;
  color: #fff;
}

#about h2,
#team h2 {
  font-size: 32px;
  text-align: center;
}

#about .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  margin-top: 3rem;
}

#about .row .col h3 {
  font-size: 24px;
}

#about .row .col p {
  margin: 20px 0;
}

#about .row .col a {
  margin-top: 10px;
}

#about .row img {
  max-width: 100%;
}

/* About End */
/* Why Us Start */
#why-us .row,
#team .row {
  margin-bottom: 0;
}

/* Why Us End */
/* Team Start */
#team .row .col {
  background-color: var(--light-blue);
  padding: 3rem;
  text-align: center;
}

#team .row .col img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
}

#team .row .col h3 {
  color: var(--cyan);
  margin: 15px 0 10px;
}

#team .row .col p {
  font-size: 14px;
}

#team .row .col .social,
#footer .footer-content .row .col-1 .social {
  margin-top: 30px;
}

#team .row .col .social a,
#footer .footer-content .row .col-1 .social a {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
  transition: all 0.3s ease;
}

#team .row .col .social a:hover,
#footer .footer-content .row .col-1 .social a:hover {
  color: var(--cyan);
}

/* Team End */
/* Testimonials Start */
#testimonials {
  padding: 6rem 0;
}

#testimonials .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  margin-top: 6rem;
}

#testimonials .row .col {
  background-color: var(--bg-white);
  padding: 3rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

#testimonials .row .col img {
  position: absolute;
  top: -50px;
  left: 20px;
  width: 100px;
  border-radius: 50%;
}

#testimonials .row .col h3 {
  font-size: 20px;
  color: var(--blue);
  margin: 16px 0 10px;
}

#testimonials .row .col p {
  font-size: 14px;
  line-height: 1.4;
}

/* Testimonials End */
/* Footer Start */
#footer .footer-content {
  background-color: var(--blue);
  padding: 3rem 0;
  color: #fff;
}

#footer .footer-content .row {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1.5fr;
  column-gap: 2rem;
}

#footer .footer-content .row h2 {
  margin-bottom: 1rem;
}

#footer .footer-content .row ul li {
  margin-bottom: 15px;
}

#footer .footer-content .row ul li i {
  margin-right: 5px;
}

#footer .footer-content .row .col-3 ul li a {
  color: #fff;
  transition: all 0.3s ease;
}

#footer .footer-content .row .col-3 ul li a:hover {
  color: var(--cyan);
}

#footer .footer-content .row .col-4 input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 10px 0;
  color: #fff;
}

#footer .footer-content .row .col-4 input::placeholder {
  color: #fff;
}

#footer .footer-content .row .col-4 input:focus {
  outline: none;
}

#footer .footer-content .row .col-4 .btn {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.copyright {
  padding: 1rem;
  text-align: center;
}

.copyright p a {
  color: var(--cyan);
}

/* Footer End */

@media (max-width: 900px) {

  #services .row,
  #why-us .row,
  #team .row {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 750px) {
  #home .navbar {
    flex-direction: column;
    padding: 30px 0;
  }

  #home .navbar .logo {
    margin-bottom: 20px;
  }

  #home .navbar ul li a {
    margin: 0 5px;
    font-size: 14px;
  }

  #home .home-content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  #home .home-content .col h1 {
    font-size: 40px;
  }

  #services .row,
  #why-us .row,
  #team .row {
    grid-template-columns: 1fr;
  }

  #about .row,
  #testimonials .row,
  #footer .footer-content .row {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  .copyright p {
    font-size: 14px;
  }
}